@using WebApplication1.Authentication;
@{
    var uk = new RouteValueDictionary(Url.RequestContext.RouteData.Values);
    var jp = new RouteValueDictionary(Url.RequestContext.RouteData.Values);
    uk.Add(Settings.InitSetting.Instance.CultureCookieName, "en-US");
    jp.Add(Settings.InitSetting.Instance.CultureCookieName, "ja-JP");
    bool isAuthorized = AuthUtility.IsAuthorized(ViewContext.Controller.ControllerContext.HttpContext.GetAuthToken(), false);
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">@Resources.Resource.Company_name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @if (isAuthorized)
            {
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">@Resources.Resource.Home</a>
                </li>
            }
            <li class="nav-item dropdown">
                <label class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Resources.Resource.Language
                </label>
                <div class="c_dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.RouteUrl(uk)">
                        <img class="c_flag" alt="uk" src="@Url.Content("~/Content/country-flags/united-kingdom-flag-xs.png")" />
                    </a>
                    <a class="dropdown-item" href="@Url.RouteUrl(jp)">
                        <img class="c_flag" alt="jp" src="@Url.Content("~/Content/country-flags/japan-flag-xs.png")" />
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>